<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutomaticUpdateCheckEnabled</key>
	<true/>
	<key>BackgroundAlertSuppressed</key>
	<false/>
	<key>BlacklistedApplications</key>
	<array>
		<string>com.adobe.Photoshop</string>
		<string>com.adobe.Reader</string>
		<string>com.divisiblebyzero.Spectacle</string>
		<string>com.valvesoftware.steam</string>
	</array>
	<key>DisabledApplications</key>
	<array/>
	<key>MakeLarger</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGgAQfIACWk1ha2VMYXJnZXLSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzWFpLSG90S2V5ohcYWFpLSG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcn2CjZafoqu0xsnOAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAANA=</data>
	<key>MakeSmaller</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGgAQe4ACW01ha2VTbWFsbGVy0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1haS0hvdEtleaIXGFhaS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHJ+g46XoKOstcfKzwAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADR</data>
	<key>MoveToBottomHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQfYACXxAQTW92ZVRvQm90dG9tSGFsZtITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNYWktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhYqVnqeqs7zO0dYAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA2A==</data>
	<key>MoveToCenter</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQCIACXE1vdmVUb0NlbnRlctITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNYWktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByf4SPmKGkrbbIy9AAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA0g==</data>
	<key>MoveToFullscreen</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQA4ACXxAQTW92ZVRvRnVsbHNjcmVlbtITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNYWktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhYqVnqeqs7zO0dYAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA2A==</data>
	<key>MoveToLeftHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQe4ACXk1vdmVUb0xlZnRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1haS0hvdEtleaIXGFhaS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKBhpGao6avuMrN0gAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADU</data>
	<key>MoveToLowerLeft</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREwAQe4ACXxAPTW92ZVRvTG93ZXJMZWZ00hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1haS0hvdEtleaIXGFhaS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKEiZSdpqmyu83Q1QAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADX</data>
	<key>MoveToLowerRight</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREwAQfIACXxAQTW92ZVRvTG93ZXJSaWdodNITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNYWktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhYqVnqeqs7zO0dYAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA2A==</data>
	<key>MoveToNextDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQfIACXxARTW92ZVRvTmV4dERpc3BsYXnSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzWFpLSG90S2V5ohcYWFpLSG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoaLlp+oq7S9z9LXAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAANk=</data>
	<key>MoveToNextThird</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGAAQfIACXxAPTW92ZVRvTmV4dFRoaXJk0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1haS0hvdEtleaIXGFhaS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKEiZSdpqmyu83Q1QAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADX</data>
	<key>MoveToPreviousDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQe4ACXxAVTW92ZVRvUHJldmlvdXNEaXNwbGF50hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1haS0hvdEtleaIXGFhaS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKKj5qjrK+4wdPW2wAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADd</data>
	<key>MoveToPreviousThird</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGAAQe4ACXxATTW92ZVRvUHJldmlvdXNUaGlyZNITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNYWktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByiI2Yoaqttr/R1NkAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA2w==</data>
	<key>MoveToRightHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQfIACXxAPTW92ZVRvUmlnaHRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1haS0hvdEtleaIXGFhaS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKEiZSdpqmyu83Q1QAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADX</data>
	<key>MoveToTopHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQfoACXU1vdmVUb1RvcEhhbGbSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzWFpLSG90S2V5ohcYWFpLSG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoCFkJmipa63yczRAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAANM=</data>
	<key>MoveToUpperLeft</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREQAQe4ACXxAPTW92ZVRvVXBwZXJMZWZ00hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1haS0hvdEtleaIXGFhaS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKEiZSdpqmyu83Q1QAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADX</data>
	<key>MoveToUpperRight</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREQAQfIACXxAQTW92ZVRvVXBwZXJSaWdodNITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNYWktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhYqVnqeqs7zO0dYAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA2A==</data>
	<key>RedoLastMove</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCwAQBoACXFJlZG9MYXN0TW92ZdITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNYWktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByf4SPmKGkrbbIy9AAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA0g==</data>
	<key>StatusItemEnabled</key>
	<true/>
	<key>UndoLastMove</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQBoACXFVuZG9MYXN0TW92ZdITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNYWktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByf4SPmKGkrbbIy9AAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA0g==</data>
</dict>
</plist>
