<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShortcutTranslations</key>
	<dict>
		<key>122</key>
		<string>F1</string>
		<key>120</key>
		<string>F2</string>
		<key>99</key>
		<string>F3</string>
		<key>118</key>
		<string>F4</string>
		<key>96</key>
		<string>F5</string>
		<key>97</key>
		<string>F6</string>
		<key>98</key>
		<string>F7</string>
		<key>100</key>
		<string>F8</string>
		<key>101</key>
		<string>F9</string>
		<key>109</key>
		<string>F10</string>
		<key>103</key>
		<string>F11</string>
		<key>111</key>
		<string>F12</string>
		<key>105</key>
		<string>F13</string>
		<key>107</key>
		<string>F14</string>
		<key>113</key>
		<string>F15</string>
		<key>106</key>
		<string>F16</string>
		<key>64</key>
		<string>F17</string>
		<key>79</key>
		<string>F18</string>
		<key>80</key>
		<string>F19</string>
		<key>49</key>
		<string>Space</string>
		<key>51</key>
		<string>SpectacleShortcutDeleteLeftGlyph</string>
		<key>117</key>
		<string>SpectacleShortcutDeleteRightGlyph</string>
		<key>123</key>
		<string>SpectacleShortcutLeftArrowGlyph</string>
		<key>124</key>
		<string>SpectacleShortcutRightArrowGlyph</string>
		<key>126</key>
		<string>SpectacleShortcutUpArrowGlyph</string>
		<key>125</key>
		<string>SpectacleShortcutDownArrowGlyph</string>
		<key>121</key>
		<string>SpectacleShortcutPageDownGlyph</string>
		<key>116</key>
		<string>SpectacleShortcutPageUpGlyph</string>
		<key>36</key>
		<string>SpectacleShortcutReturnGlyph</string>
		<key>48</key>
		<string>SpectacleShortcutTabRightGlyph</string>
	</dict>
	<key>ShortcutGlyphTranslations</key>
	<dict>
		<key>SpectacleShortcutDeleteLeftGlyph</key>
		<integer>9003</integer>
		<key>SpectacleShortcutDeleteRightGlyph</key>
		<integer>8998</integer>
		<key>SpectacleShortcutLeftArrowGlyph</key>
		<integer>8592</integer>
		<key>SpectacleShortcutRightArrowGlyph</key>
		<integer>8594</integer>
		<key>SpectacleShortcutUpArrowGlyph</key>
		<integer>8593</integer>
		<key>SpectacleShortcutDownArrowGlyph</key>
		<integer>8595</integer>
		<key>SpectacleShortcutPageDownGlyph</key>
		<integer>8671</integer>
		<key>SpectacleShortcutPageUpGlyph</key>
		<integer>8670</integer>
		<key>SpectacleShortcutReturnGlyph</key>
		<integer>8617</integer>
		<key>SpectacleShortcutTabRightGlyph</key>
		<integer>8677</integer>
	</dict>
</dict>
</plist>
