<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpecialHotKeyTranslations</key>
	<dict>
		<key>122</key>
		<string>F1</string>
		<key>120</key>
		<string>F2</string>
		<key>99</key>
		<string>F3</string>
		<key>118</key>
		<string>F4</string>
		<key>96</key>
		<string>F5</string>
		<key>97</key>
		<string>F6</string>
		<key>98</key>
		<string>F7</string>
		<key>100</key>
		<string>F8</string>
		<key>101</key>
		<string>F9</string>
		<key>109</key>
		<string>F10</string>
		<key>103</key>
		<string>F11</string>
		<key>111</key>
		<string>F12</string>
		<key>105</key>
		<string>F13</string>
		<key>107</key>
		<string>F14</string>
		<key>113</key>
		<string>F15</string>
		<key>106</key>
		<string>F16</string>
		<key>64</key>
		<string>F17</string>
		<key>79</key>
		<string>F18</string>
		<key>80</key>
		<string>F19</string>
		<key>49</key>
		<string>Space</string>
		<key>51</key>
		<string>SpectacleHotKeyDeleteLeftGlyph</string>
		<key>117</key>
		<string>SpectacleHotKeyDeleteRightGlyph</string>
		<key>123</key>
		<string>SpectacleHotKeyLeftArrowGlyph</string>
		<key>124</key>
		<string>SpectacleHotKeyRightArrowGlyph</string>
		<key>126</key>
		<string>SpectacleHotKeyUpArrowGlyph</string>
		<key>125</key>
		<string>SpectacleHotKeyDownArrowGlyph</string>
		<key>121</key>
		<string>SpectacleHotKeyPageDownGlyph</string>
		<key>116</key>
		<string>SpectacleHotKeyPageUpGlyph</string>
		<key>36</key>
		<string>SpectacleHotKeyReturnGlyph</string>
		<key>48</key>
		<string>SpectacleHotKeyTabRightGlyph</string>
	</dict>
	<key>SpecialHotKeyGlyphTranslations</key>
	<dict>
		<key>SpectacleHotKeyDeleteLeftGlyph</key>
		<integer>9003</integer>
		<key>SpectacleHotKeyDeleteRightGlyph</key>
		<integer>8998</integer>
		<key>SpectacleHotKeyLeftArrowGlyph</key>
		<integer>8592</integer>
		<key>SpectacleHotKeyRightArrowGlyph</key>
		<integer>8594</integer>
		<key>SpectacleHotKeyUpArrowGlyph</key>
		<integer>8593</integer>
		<key>SpectacleHotKeyDownArrowGlyph</key>
		<integer>8595</integer>
		<key>SpectacleHotKeyPageDownGlyph</key>
		<integer>8671</integer>
		<key>SpectacleHotKeyPageUpGlyph</key>
		<integer>8670</integer>
		<key>SpectacleHotKeyReturnGlyph</key>
		<integer>8617</integer>
		<key>SpectacleHotKeyTabRightGlyph</key>
		<integer>8677</integer>
	</dict>
</dict>
</plist>
