ARCHS = $(ARCHS_STANDARD_32_64_BIT)
VALID_ARCHS = i386 ppc x86_64
SDKROOT = macosx10.6
PREBINDING = NO

RUN_CLANG_STATIC_ANALYZER = YES

GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_MODEL_TUNING = G5

GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
