/* line 1, stylesheets/_clear.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 21, stylesheets/_clear.sass */
a {
  text-decoration: none;
  color: #1f75aa; }

/* line 25, stylesheets/_clear.sass */
body {
  margin: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1; }

/* line 34, stylesheets/_clear.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 38, stylesheets/_clear.sass */
ol, ul {
  list-style: none; }

/* line 41, stylesheets/_clear.sass */
blockquote, q {
  quotes: none; }

/* line 44, stylesheets/_clear.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 49, stylesheets/_clear.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 63, stylesheets/_clear.sass */
* {
  box-sizing: border-box; }

/* line 6, stylesheets/all.css.sass */
body {
  color: #333333;
  -webkit-animation: load 2s;
  -moz-animation: load 2s;
  animation: load 2s; }

@-webkit-keyframes load {
  /* line 11, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 13, stylesheets/all.css.sass */
  20% {
    opacity: 0; } }

@-moz-keyframes load {
  /* line 11, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 13, stylesheets/all.css.sass */
  20% {
    opacity: 0; } }

@-o-keyframes load {
  /* line 11, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 13, stylesheets/all.css.sass */
  20% {
    opacity: 0; } }

@keyframes load {
  /* line 11, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 13, stylesheets/all.css.sass */
  20% {
    opacity: 0; } }

/* line 16, stylesheets/all.css.sass */
img {
  max-width: 100%; }

/* line 19, stylesheets/all.css.sass */
.container {
  width: 90%;
  max-width: 960px;
  margin: auto; }

/* line 24, stylesheets/all.css.sass */
.macbook {
  background: url(../images/macbook.png) no-repeat;
  background-size: 100%;
  width: 678px;
  height: 398px;
  margin: 40px auto 20px;
  position: relative; }
  @media (max-width: 748px) {
    /* line 24, stylesheets/all.css.sass */
    .macbook {
      width: 540px;
      height: 320px; } }
  @media (max-width: 620px) {
    /* line 24, stylesheets/all.css.sass */
    .macbook {
      width: 280px;
      height: 175px; } }

/* line 41, stylesheets/all.css.sass */
.monitor {
  position: absolute;
  top: 23px;
  left: 91px;
  background-size: inherit; }
  @media (max-width: 748px) {
    /* line 41, stylesheets/all.css.sass */
    .monitor {
      top: 20px;
      left: 72px; } }
  @media (max-width: 620px) {
    /* line 41, stylesheets/all.css.sass */
    .monitor {
      top: 10px;
      left: 38px; } }

/* line 55, stylesheets/all.css.sass */
.glare {
  background: url(../images/glare.png) no-repeat;
  background-size: inherit;
  width: 227px;
  height: 321px;
  position: absolute;
  right: 75px;
  top: 3px;
  z-index: 1; }
  @media (max-width: 748px) {
    /* line 55, stylesheets/all.css.sass */
    .glare {
      width: 157px;
      height: 274px;
      right: 60px; } }
  @media (max-width: 620px) {
    /* line 55, stylesheets/all.css.sass */
    .glare {
      width: 90px;
      right: 31px;
      top: 1px; } }

/* line 75, stylesheets/all.css.sass */
.screen {
  position: absolute;
  width: 496px;
  height: 310px;
  opacity: 0;
  background-repeat: no-repeat;
  -webkit-animation: 12s infinite;
  -moz-animation: 12s infinite;
  animation: 12s infinite; }
  @media (max-width: 748px) {
    /* line 75, stylesheets/all.css.sass */
    .screen {
      width: 396px; } }
  @media (max-width: 620px) {
    /* line 75, stylesheets/all.css.sass */
    .screen {
      width: 205px; } }

/* line 89, stylesheets/all.css.sass */
.whole {
  background-image: url(../images/whole.png);
  background-size: inherit;
  -webkit-animation-name: fade;
  -moz-animation-name: fade;
  animation-name: fade; }

/* line 94, stylesheets/all.css.sass */
.center {
  background-image: url(../images/center.png);
  -webkit-animation-name: fade2;
  -moz-animation-name: fade2;
  animation-name: fade2;
  background-size: inherit; }

/* line 99, stylesheets/all.css.sass */
.top {
  background-image: url(../images/top.png);
  -webkit-animation-name: fade3;
  -moz-animation-name: fade3;
  animation-name: fade3;
  background-size: inherit; }

/* line 104, stylesheets/all.css.sass */
.bottom {
  background-image: url(../images/bottom.png);
  -webkit-animation-name: fade4;
  -moz-animation-name: fade4;
  animation-name: fade4;
  background-size: inherit; }

/* line 109, stylesheets/all.css.sass */
.left {
  background-image: url(../images/left.png);
  -webkit-animation-name: fade5;
  -moz-animation-name: fade5;
  animation-name: fade5;
  background-size: inherit; }

/* line 114, stylesheets/all.css.sass */
.right {
  background-image: url(../images/right.png);
  -webkit-animation-name: fade6;
  -moz-animation-name: fade6;
  animation-name: fade6;
  background-size: inherit; }

@-webkit-keyframes fade {
  /* line 120, stylesheets/all.css.sass */
  0% {
    opacity: 1; }

  /* line 122, stylesheets/all.css.sass */
  16% {
    opacity: 1; }

  /* line 124, stylesheets/all.css.sass */
  17% {
    opacity: 0; }

  /* line 126, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-moz-keyframes fade {
  /* line 120, stylesheets/all.css.sass */
  0% {
    opacity: 1; }

  /* line 122, stylesheets/all.css.sass */
  16% {
    opacity: 1; }

  /* line 124, stylesheets/all.css.sass */
  17% {
    opacity: 0; }

  /* line 126, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-o-keyframes fade {
  /* line 120, stylesheets/all.css.sass */
  0% {
    opacity: 1; }

  /* line 122, stylesheets/all.css.sass */
  16% {
    opacity: 1; }

  /* line 124, stylesheets/all.css.sass */
  17% {
    opacity: 0; }

  /* line 126, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@keyframes fade {
  /* line 120, stylesheets/all.css.sass */
  0% {
    opacity: 1; }

  /* line 122, stylesheets/all.css.sass */
  16% {
    opacity: 1; }

  /* line 124, stylesheets/all.css.sass */
  17% {
    opacity: 0; }

  /* line 126, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-webkit-keyframes fade2 {
  /* line 130, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 132, stylesheets/all.css.sass */
  16% {
    opacity: 1; }

  /* line 134, stylesheets/all.css.sass */
  32% {
    opacity: 1; }

  /* line 136, stylesheets/all.css.sass */
  33% {
    opacity: 0; }

  /* line 138, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-moz-keyframes fade2 {
  /* line 130, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 132, stylesheets/all.css.sass */
  16% {
    opacity: 1; }

  /* line 134, stylesheets/all.css.sass */
  32% {
    opacity: 1; }

  /* line 136, stylesheets/all.css.sass */
  33% {
    opacity: 0; }

  /* line 138, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-o-keyframes fade2 {
  /* line 130, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 132, stylesheets/all.css.sass */
  16% {
    opacity: 1; }

  /* line 134, stylesheets/all.css.sass */
  32% {
    opacity: 1; }

  /* line 136, stylesheets/all.css.sass */
  33% {
    opacity: 0; }

  /* line 138, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@keyframes fade2 {
  /* line 130, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 132, stylesheets/all.css.sass */
  16% {
    opacity: 1; }

  /* line 134, stylesheets/all.css.sass */
  32% {
    opacity: 1; }

  /* line 136, stylesheets/all.css.sass */
  33% {
    opacity: 0; }

  /* line 138, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-webkit-keyframes fade3 {
  /* line 142, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 144, stylesheets/all.css.sass */
  32% {
    opacity: 1; }

  /* line 146, stylesheets/all.css.sass */
  48% {
    opacity: 1; }

  /* line 148, stylesheets/all.css.sass */
  49% {
    opacity: 0; }

  /* line 150, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-moz-keyframes fade3 {
  /* line 142, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 144, stylesheets/all.css.sass */
  32% {
    opacity: 1; }

  /* line 146, stylesheets/all.css.sass */
  48% {
    opacity: 1; }

  /* line 148, stylesheets/all.css.sass */
  49% {
    opacity: 0; }

  /* line 150, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-o-keyframes fade3 {
  /* line 142, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 144, stylesheets/all.css.sass */
  32% {
    opacity: 1; }

  /* line 146, stylesheets/all.css.sass */
  48% {
    opacity: 1; }

  /* line 148, stylesheets/all.css.sass */
  49% {
    opacity: 0; }

  /* line 150, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@keyframes fade3 {
  /* line 142, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 144, stylesheets/all.css.sass */
  32% {
    opacity: 1; }

  /* line 146, stylesheets/all.css.sass */
  48% {
    opacity: 1; }

  /* line 148, stylesheets/all.css.sass */
  49% {
    opacity: 0; }

  /* line 150, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-webkit-keyframes fade4 {
  /* line 154, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 156, stylesheets/all.css.sass */
  48% {
    opacity: 1; }

  /* line 158, stylesheets/all.css.sass */
  64% {
    opacity: 1; }

  /* line 160, stylesheets/all.css.sass */
  65% {
    opacity: 0; }

  /* line 162, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-moz-keyframes fade4 {
  /* line 154, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 156, stylesheets/all.css.sass */
  48% {
    opacity: 1; }

  /* line 158, stylesheets/all.css.sass */
  64% {
    opacity: 1; }

  /* line 160, stylesheets/all.css.sass */
  65% {
    opacity: 0; }

  /* line 162, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-o-keyframes fade4 {
  /* line 154, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 156, stylesheets/all.css.sass */
  48% {
    opacity: 1; }

  /* line 158, stylesheets/all.css.sass */
  64% {
    opacity: 1; }

  /* line 160, stylesheets/all.css.sass */
  65% {
    opacity: 0; }

  /* line 162, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@keyframes fade4 {
  /* line 154, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 156, stylesheets/all.css.sass */
  48% {
    opacity: 1; }

  /* line 158, stylesheets/all.css.sass */
  64% {
    opacity: 1; }

  /* line 160, stylesheets/all.css.sass */
  65% {
    opacity: 0; }

  /* line 162, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-webkit-keyframes fade5 {
  /* line 166, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 168, stylesheets/all.css.sass */
  64% {
    opacity: 1; }

  /* line 170, stylesheets/all.css.sass */
  82% {
    opacity: 1; }

  /* line 172, stylesheets/all.css.sass */
  83% {
    opacity: 0; }

  /* line 174, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-moz-keyframes fade5 {
  /* line 166, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 168, stylesheets/all.css.sass */
  64% {
    opacity: 1; }

  /* line 170, stylesheets/all.css.sass */
  82% {
    opacity: 1; }

  /* line 172, stylesheets/all.css.sass */
  83% {
    opacity: 0; }

  /* line 174, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-o-keyframes fade5 {
  /* line 166, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 168, stylesheets/all.css.sass */
  64% {
    opacity: 1; }

  /* line 170, stylesheets/all.css.sass */
  82% {
    opacity: 1; }

  /* line 172, stylesheets/all.css.sass */
  83% {
    opacity: 0; }

  /* line 174, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@keyframes fade5 {
  /* line 166, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 168, stylesheets/all.css.sass */
  64% {
    opacity: 1; }

  /* line 170, stylesheets/all.css.sass */
  82% {
    opacity: 1; }

  /* line 172, stylesheets/all.css.sass */
  83% {
    opacity: 0; }

  /* line 174, stylesheets/all.css.sass */
  100% {
    opacity: 0; } }

@-webkit-keyframes fade6 {
  /* line 178, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 180, stylesheets/all.css.sass */
  82% {
    opacity: 1; }

  /* line 182, stylesheets/all.css.sass */
  100% {
    opacity: 1; } }

@-moz-keyframes fade6 {
  /* line 178, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 180, stylesheets/all.css.sass */
  82% {
    opacity: 1; }

  /* line 182, stylesheets/all.css.sass */
  100% {
    opacity: 1; } }

@-o-keyframes fade6 {
  /* line 178, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 180, stylesheets/all.css.sass */
  82% {
    opacity: 1; }

  /* line 182, stylesheets/all.css.sass */
  100% {
    opacity: 1; } }

@keyframes fade6 {
  /* line 178, stylesheets/all.css.sass */
  0% {
    opacity: 0; }

  /* line 180, stylesheets/all.css.sass */
  82% {
    opacity: 1; }

  /* line 182, stylesheets/all.css.sass */
  100% {
    opacity: 1; } }

/* line 186, stylesheets/all.css.sass */
h1, h2, h3, footer {
  text-align: center; }

/* line 189, stylesheets/all.css.sass */
h1 {
  font-size: 3.9em;
  margin-bottom: 14px; }
  @media (max-width: 620px) {
    /* line 189, stylesheets/all.css.sass */
    h1 {
      font-size: 3.2em; } }
  @media (max-width: 399px) {
    /* line 189, stylesheets/all.css.sass */
    h1 {
      font-size: 2.2em;
      border-bottom: 1px solid #1f75aa;
      padding-bottom: 15px; } }
  /* line 201, stylesheets/all.css.sass */
  h1 span {
    color: #1f75aa;
    font-weight: bold; }

/* line 205, stylesheets/all.css.sass */
h2 {
  font-size: 1.8em;
  margin-bottom: 32px; }
  @media (max-width: 748px) {
    /* line 205, stylesheets/all.css.sass */
    h2 {
      font-size: 1.4em;
      margin-top: 20px; } }
  @media (max-width: 399px) {
    /* line 205, stylesheets/all.css.sass */
    h2 {
      margin-bottom: 60px; } }

/* line 216, stylesheets/all.css.sass */
h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 16px; }

/* line 221, stylesheets/all.css.sass */
p {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 60px; }

/* line 227, stylesheets/all.css.sass */
.button {
  width: 75%;
  max-width: 400px;
  height: 60px;
  color: white;
  display: block;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 60px;
  padding-top: 15px;
  font-size: 2.2em;
  font-weight: bold;
  text-shadow: 0 -1px 2px #081f38;
  box-shadow: 0 2px 4px #081f38, 0 6px 6px rgba(8, 31, 56, 0.3), 0 10px 14px rgba(8, 31, 56, 0.2);
  background-color: #1f75aa;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f75aa), color-stop(100%, #144b8b));
  background-image: -webkit-linear-gradient(#1f75aa, #144b8b);
  background-image: linear-gradient(#1f75aa, #144b8b); }
  /* line 243, stylesheets/all.css.sass */
  .button:active {
    background-color: #144b8b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #144b8b), color-stop(100%, #1f75aa));
    background-image: -webkit-linear-gradient(#144b8b, #1f75aa);
    background-image: linear-gradient(#144b8b, #1f75aa);
    box-shadow: none; }
  @media (max-width: 485px) {
    /* line 227, stylesheets/all.css.sass */
    .button {
      font-size: 1.4em;
      padding-top: 22px; } }
  @media (max-width: 399px) {
    /* line 227, stylesheets/all.css.sass */
    .button {
      display: none; } }

/* line 254, stylesheets/all.css.sass */
.info {
  *zoom: 1; }
  /* line 18, stylesheets/bourbon/addons/_clearfix.scss */
  .info:before, .info:after {
    content: " ";
    display: table; }
  /* line 23, stylesheets/bourbon/addons/_clearfix.scss */
  .info:after {
    clear: both; }

/* line 257, stylesheets/all.css.sass */
.feature {
  width: 25%;
  float: left;
  padding: 0 2%; }
  @media (max-width: 620px) {
    /* line 257, stylesheets/all.css.sass */
    .feature {
      float: none;
      width: 80%;
      margin: auto;
      padding: none; } }

/* line 270, stylesheets/all.css.sass */
.heart, .maintained, .lock, .free {
  margin: auto;
  height: 32px;
  margin-bottom: 20px;
  background-repeat: no-repeat; }

/* line 276, stylesheets/all.css.sass */
.heart {
  background-image: url(../images/heart.png);
  width: 40px;
  background-size: 100%; }

/* line 281, stylesheets/all.css.sass */
.maintained {
  background-image: url(../images/maintained.png);
  width: 32px;
  background-size: 97%; }

/* line 286, stylesheets/all.css.sass */
.lock {
  background-image: url(../images/unlock.png);
  width: 32px;
  background-size: 97%; }

/* line 291, stylesheets/all.css.sass */
.free {
  background-image: url(../images/free.png);
  width: 32px;
  background-size: 97%; }

/* line 296, stylesheets/all.css.sass */
footer {
  width: 100%;
  display: block;
  background: #333333;
  color: white;
  padding: 30px 0; }
  /* line 303, stylesheets/all.css.sass */
  footer p {
    margin: 0; }
