<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MoveToBottomHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQfYACXxAQTW92ZVRvQm90dG9tSGFsZtITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9TcGVjdGFjbGVIb3RLZXmiFxhfEA9TcGVjdGFjbGVIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhYqVnrCzxc7g4+gAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA6g==</data>
	<key>MoveToCenter</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQCIACXE1vdmVUb0NlbnRlctITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9TcGVjdGFjbGVIb3RLZXmiFxhfEA9TcGVjdGFjbGVIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByf4SPmKqtv8ja3eIAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA5A==</data>
	<key>MoveToFullscreen</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQA4ACXxAQTW92ZVRvRnVsbHNjcmVlbtITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9TcGVjdGFjbGVIb3RLZXmiFxhfEA9TcGVjdGFjbGVIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhYqVnrCzxc7g4+gAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA6g==</data>
	<key>MoveToLeftHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQe4ACXk1vdmVUb0xlZnRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD1NwZWN0YWNsZUhvdEtleaIXGF8QD1NwZWN0YWNsZUhvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKBhpGarK/Bytzf5AAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADm</data>
	<key>MoveToRightHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQfIACXxAPTW92ZVRvUmlnaHRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD1NwZWN0YWNsZUhvdEtleaIXGF8QD1NwZWN0YWNsZUhvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKEiZSdr7LEzd/i5wAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADp</data>
	<key>MoveToTopHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQfoACXU1vdmVUb1RvcEhhbGbSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzXxAPU3BlY3RhY2xlSG90S2V5ohcYXxAPU3BlY3RhY2xlSG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoCFkJmrrsDJ297jAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOU=</data>
	<key>MoveToUpperLeft</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREQAQe4ACXxAPTW92ZVRvVXBwZXJMZWZ00hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD1NwZWN0YWNsZUhvdEtleaIXGF8QD1NwZWN0YWNsZUhvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKEiZSdr7LEzd/i5wAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADp</data>
	<key>MoveToLowerLeft</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREwAQe4ACXxAPTW92ZVRvTG93ZXJMZWZ00hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD1NwZWN0YWNsZUhvdEtleaIXGF8QD1NwZWN0YWNsZUhvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKEiZSdr7LEzd/i5wAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADp</data>
	<key>MoveToUpperRight</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREQAQfIACXxAQTW92ZVRvVXBwZXJSaWdodNITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9TcGVjdGFjbGVIb3RLZXmiFxhfEA9TcGVjdGFjbGVIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhYqVnrCzxc7g4+gAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA6g==</data>
	<key>MoveToLowerRight</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREwAQfIACXxAQTW92ZVRvTG93ZXJSaWdodNITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9TcGVjdGFjbGVIb3RLZXmiFxhfEA9TcGVjdGFjbGVIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhYqVnrCzxc7g4+gAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA6g==</data>
	<key>MoveToLeftDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQe4ACXxARTW92ZVRvTGVmdERpc3BsYXnSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzXxAPU3BlY3RhY2xlSG90S2V5ohcYXxAPU3BlY3RhY2xlSG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoaLlp+xtMbP4eTpAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOs=</data>
	<key>MoveToRightDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQfIACXxASTW92ZVRvUmlnaHREaXNwbGF50hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD1NwZWN0YWNsZUhvdEtleaIXGF8QD1NwZWN0YWNsZUhvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKHjJegsrXH0OLl6gAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADs</data>
	<key>MoveToTopDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQfoACXxAQTW92ZVRvVG9wRGlzcGxhedITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9TcGVjdGFjbGVIb3RLZXmiFxhfEA9TcGVjdGFjbGVIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhYqVnrCzxc7g4+gAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA6g==</data>
	<key>MoveToBottomDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQfYACXxATTW92ZVRvQm90dG9tRGlzcGxhedITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9TcGVjdGFjbGVIb3RLZXmiFxhfEA9TcGVjdGFjbGVIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByiI2YobO2yNHj5usAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA7Q==</data>
	<key>UndoLastMove</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQBoACXFVuZG9MYXN0TW92ZdITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9TcGVjdGFjbGVIb3RLZXmiFxhfEA9TcGVjdGFjbGVIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByf4SPmKqtv8ja3eIAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA5A==</data>
</dict>
</plist>
