<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MoveToBottomHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQfYACXxAQTW92ZVRvQm90dG9tSGFsZtITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoWKlZ6sr73G2NvgAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOI=</data>
	<key>MoveToCenter</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQCIACXE1vdmVUb0NlbnRlctITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcn+Ej5imqbfA0tXaAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAANw=</data>
	<key>MoveToFullscreen</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQA4ACXxAQTW92ZVRvRnVsbHNjcmVlbtITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoWKlZ6sr73G2NvgAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOI=</data>
	<key>MoveToLeftHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQe4ACXk1vdmVUb0xlZnRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc11aZXJvS2l0SG90S2V5ohcYXVplcm9LaXRIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnBygYaRmqirucLU19wAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA3g==</data>
	<key>MoveToRightHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQfIACXxAPTW92ZVRvUmlnaHRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc11aZXJvS2l0SG90S2V5ohcYXVplcm9LaXRIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhImUnauuvMXX2t8AAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA4Q==</data>
	<key>MoveToTopHalf</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQfoACXU1vdmVUb1RvcEhhbGbSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzXVplcm9LaXRIb3RLZXmiFxhdWmVyb0tpdEhvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKAhZCZp6q4wdPW2wAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADd</data>
	<key>MoveToUpperLeft</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREQAQe4ACXxAPTW92ZVRvVXBwZXJMZWZ00hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc11aZXJvS2l0SG90S2V5ohcYXVplcm9LaXRIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhImUnauuvMXX2t8AAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA4Q==</data>
	<key>MoveToLowerLeft</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREwAQe4ACXxAPTW92ZVRvTG93ZXJMZWZ00hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc11aZXJvS2l0SG90S2V5ohcYXVplcm9LaXRIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhImUnauuvMXX2t8AAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA4Q==</data>
	<key>MoveToUpperRight</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREQAQfIACXxAQTW92ZVRvVXBwZXJSaWdodNITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoWKlZ6sr73G2NvgAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOI=</data>
	<key>MoveToLowerRight</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMREwAQfIACXxAQTW92ZVRvTG93ZXJSaWdodNITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoWKlZ6sr73G2NvgAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOI=</data>
	<key>MoveToLeftDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQe4ACXxARTW92ZVRvTGVmdERpc3BsYXnSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzXVplcm9LaXRIb3RLZXmiFxhdWmVyb0tpdEhvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLUlxkaWtucHKGi5afrbC+x9nc4QAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADj</data>
	<key>MoveToRightDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQfIACXxASTW92ZVRvUmlnaHREaXNwbGF50hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc11aZXJvS2l0SG90S2V5ohcYXVplcm9LaXRIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByh4yXoK6xv8ja3eIAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA5A==</data>
	<key>MoveToTopDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQfoACXxAQTW92ZVRvVG9wRGlzcGxhedITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoWKlZ6sr73G2NvgAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOI=</data>
	<key>MoveToBottomDisplay</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGQAQfYACXxATTW92ZVRvQm90dG9tRGlzcGxhedITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoiNmKGvssDJ297jAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOU=</data>
	<key>MoveToNextThird</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGAAQfIACXxAPTW92ZVRvTmV4dFRoaXJk0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc11aZXJvS2l0SG90S2V5ohcYXVplcm9LaXRIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1JcZGlrbnByhImUnauuvMXX2t8AAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA4Q==</data>
	<key>MoveToPreviousThird</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRGAAQe4ACXxATTW92ZVRvUHJldmlvdXNUaGlyZNITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcoiNmKGvssDJ297jAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOU=</data>
	<key>UndoLastMove</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCQAQBoACXFVuZG9MYXN0TW92ZdITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcn+Ej5imqbfA0tXaAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAANw=</data>
	<key>RedoLastMove</key>
	<data>YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRjbGFzc1ltb2RpZmllcnNXa2V5Q29kZVRuYW1lgAMRCwAQBoACXFJlZG9MYXN0TW92ZdITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNdWmVyb0tpdEhvdEtleaIXGF1aZXJvS2l0SG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktSXGRpa25wcn+Ej5imqbfA0tXaAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAANw=</data>
	<key>StatusItemEnabled</key>
	<true/>
	<key>BackgroundAlertSuppressed</key>
	<false/>
</dict>
</plist>
