<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>MoveToCenter</string>
	<string>MoveToFullscreen</string>
	<string>MoveToLeftHalf</string>
	<string>MoveToRightHalf</string>
	<string>MoveToTopHalf</string>
	<string>MoveToBottomHalf</string>
	<string>MoveToUpperLeft</string>
	<string>MoveToLowerLeft</string>
	<string>MoveToUpperRight</string>
	<string>MoveToLowerRight</string>
	<string>MoveToLeftDisplay</string>
	<string>MoveToRightDisplay</string>
	<string>MoveToTopDisplay</string>
	<string>MoveToBottomDisplay</string>
	<string>MoveToNextThird</string>
	<string>MoveToPreviousThird</string>
	<string>UndoLastMove</string>
	<string>RedoLastMove</string>
</array>
</plist>
